* {
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    line-height: 1.7;
    background: #000;
    color: #0abdc6;
}

a {
    color: rgb(202, 202, 139);
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: rgb(255, 255, 185);
}

h1 {
    /* text-align: center; */
    font-weight: 800;
    margin: 0;
    font-size: 50px;
    padding: 25px 0;
    display: block;
    color: #2de3ec;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #2de3ec;
}

#usertest h1 {
    color: rgb(255, 106, 106);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(255, 106, 106);
}

h2 {
    color: rgb(255, 106, 106);
    margin: 35px 0 0 0;
}

img {
    display: block;
    width: 100%;
    margin: 25px 0;
}

article {
    padding: 37px;
    max-width: 600px;
    margin: 0 auto 25px auto;
    border: 2px solid #0abdc6;
    color: #0abdc6;
    transition: box-shadow 0.3s;
}

main article:hover {
    box-shadow: 0 0 6px #0abdc6;;
}

article h2:after {
    content: "";
    display: block;
    margin-top: 5px;
    border-bottom: 2px solid rgb(202, 202, 139);
    width: 2ch;
}

article a {
    border-bottom: 2px solid transparent;
    transition: border 0.2s;
}

article a:hover {
    border-color:rgb(202, 202, 139);
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    max-width: 600px;
}

footer a {
    padding: 5px 0;
    /* border-right: 2px solid rgb(202, 202, 139); */
    display: block;
    border-bottom: 1px solid transparent;
    transition: border 0.2s;
}

footer a:hover {
    border-color: rgb(202, 202, 139);
}