body {
    background: rgb(226, 226, 226);
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 1.25rem;
    color: #222;
    /* background: rgb(226, 226, 226) url("images/china.svg") center no-repeat;
    background-size: 80% auto; */
}

a {
    color: #222;
    text-decoration: none;
}

img {
    display: block;
}

main {
    width: 750px;
    height: 620px;
    position: relative;
    margin: auto;
    /* background: gray; */
}

main img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

main h1 {
    font-size: 3.25rem;
    font-weight: bold;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    margin: 0;
}

.hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}


/* Home Page Images ---------- */
.open {
    background: white;
    padding: 10px;
    border-radius: 2px;
    transform: scale(1);
    transition: opacity 0.5s, box-shadow 0.3s;
    overflow: hidden;
}

.open:hover {
    box-shadow: 0 0 10px rgb(145, 145, 145);
}

main .open {
    width: 160px;
    height: 160px;
}

main #one {
    position: absolute;
    top: 44%;
    left: 0;
    transform: translateY(-50%);
}

main #two {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

main #three {
    position: absolute;
    top: 44%;
    right: 0;
    transform: translateY(-50%);
}

main #four {
    position: absolute;
    bottom: 6%;
    left: 20%;
}

main #five {
    position: absolute;
    bottom: 6%;
    right: 20%;
}


/* Pages --------- */
.wrapper {
    display: flex;
}

section {
    flex: 1;
    position: relative;
    height: 620px;
}

section img {
    width: 100%;
}

section #one {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-40%, -50%) rotate(5deg);
    max-width: 200px;
    z-index: 5;
}

section #two {
    position: absolute;
    top: 10%;
    left: 16%;
    transform: rotate(8deg);
    max-width: 200px;
}

section #three {
    position: absolute;
    top: 10%;
    right: 9%;
    transform: rotate(-15deg);
    max-width: 200px;
}

section #four {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: rotate(-15deg);
    max-width: 200px;
}

section #five {
    position: absolute;
    top: 55%;
    right: 9%;
    transform: rotate(20deg);
    max-width: 200px;
}

.desc {
    position: relative;
    background: url('images/china.svg') no-repeat top 10% left 75px;
    background-size: 400px auto;
}

.desc h2 {
    font-size: 3rem;
    margin: 0;
}

.desc article {
    max-width: 500px;
    position: absolute;
    bottom: 0;
    left: 50px;
    padding: 25px;
}

.desc article nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.desc article nav ul li {
    list-style-type: none;
}

.desc article nav ul li a {
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
    border-bottom: 2px solid transparent;
    transition: border 0.2s;
}

.desc article nav ul li a:hover {
    border-color: #222;
}


/* Image Overlay ---------- */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 800px;

    padding: 10px;
    background: white;
    border-radius: 2px;
    z-index: 10;
    transition: opacity 0.5s;
}

.modal h2 {
    font-size: 20px;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

.modal p {
    position: absolute;
    bottom: 40%;
    transform: translateY(50%);
    right: -230px;
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 2px;
}

/* dimmed bg */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: all;
    transition: opacity 0.5s;
}

/* close image overlay button */
.close {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: -1.3rem;
    right: -1rem;
    border-radius: 100%;
    /* height: 30px; */
    color: #222;
    transition: color 0.3s;
}

.close:hover {
    color: rgb(78, 75, 75);
}

#beijing {
    background: #F8E1E7;
}

#hainan {
    background: #C0D9D3;
}

#guangzhou {
    background: #E8D6E2;
}

#tianjin {
    background: #F7D6C7;
}

#macau {
    background: #F9EDC5;
}


/* Footer ---------- */
footer {
    text-align: center;
    transform: rotate(-90deg) translate(-50%, -50%);
    width: 600px;
    margin: auto 0;
    /* background: gray; */
    position: fixed;
    top: 0;
    left: -270px;
}

footer a {
    padding: 2px 0;
    margin: 0 20px;
    border-bottom: 1px solid transparent;
    transition: border 0.2s;
}

footer a:hover {
    border-color: #222;
}